{% extends "base.html" %}
{% block title %}Nouvelle Communauté {% endblock %}
{% block content %}
    <div class="card-body">
        <h3> Nouvelle Communauté</h3>
        <div class="row">
            
            <div class="col-lg-12">
                <h5 class="bg-info text-center">.{{id}}</h5>
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" class="btn btn-success" value="Ajouter cette Communauté" />
                </form>
            </div> 
        </div>
    </div>
        <br/>
 {% endblock %}