{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} {{ request.session.nomcomplet }} {% endblock %}
{% block content %}

<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <h3 class="bg-default text-center text-white">  {{ request.session.nomcomplet}} </h3>

        <p>  {{user}} </p>
        {%  include 'usercore/partials/home.html'  with membre=user %}

        <a href="{% url 'commandes_livres' %}" class="btn btn-info"> Livres demandés (Commandes)</a>
        {% if  'ADD_COMMUNAUTE' in request.session.userrights %} 
            <a href="{% url 'home_comadmin' %}" class="btn btn-success"> Mes Communautés </a>
        {% endif %}
         {% if  'ADD_FAMILLE' in request.session.userrights %} 
            <a href="{% url 'home_famadmin' %}" class="btn btn-warning"> Mes Familles </a>
        {% endif %}
         {% if  'ADD_ASSOCIATION' in request.session.userrights %} 
            <a href="{% url 'home_assoadmin' %}" class="btn btn-primary"> Mes Associations </a>
        {% endif %}
        <a href="{% url 'home_messageadmin' %}" class="btn btn-info"> Mes Messages </a>
        <a href="{% url 'home_abonnement' %}" class="btn btn-success"> Recharger mon compte </a>
        {% block body %}
            {% if commandes %}
            <div class="card-body">
                <table class="table">
                    <thead >
                        <tr class="text-danger">
                            <th>Nom</th>
                            <th>Message</th>
                            <th>Livres</th>
                            <th>Librairie</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {% for com in commandes %}
                            <tr>
                                <td>{{com.nom}} / {{com.telephone}}</td>
                                <td>{{com.message}}</td>
                                <td>{{com.livre}} / {{com.librairie}} </td>
                                <td>{{com.livre.get_librairies}} </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        {% endblock %}
    </div>
    <div class="col-lg-1"></div>
</div>
{% endblock %}