{% extends "usercore/home.html" %}
{% load crispy_forms_tags %}
{% block title %} Associations {{ request.session.nomcomplet }} {% endblock %}
{% block body %}
 
<div class="row mt-5"> 
        {% if associations %}
            <div class="col-lg-8">
            <h3 class="text-success"> Mes Associations </h3>
                <div class="card-body card">
                    <table class="table">
                        <thead >
                            <tr class="text-danger">
                                <th>Nom</th>
                                <th>Description</th>
                                <th>Informations</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody> 
                            {% for com in associations %}
                                <tr>
                                    <td>
                                    <a href="{% url 'show_association' com.id %}" class="text-center">  {{com.nom}}  </a>
                                    {% if not  com.publique %} <span class="badge bg-danger"> privée</span>{% endif %}</td>
                                    <td>{{com.description}}</td>
                                    <td>{{com.type}} - {{com.contact}} </td>
                                    <td>{{com.localisation}} </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
        {% if adassos %}
            <div class="col-lg-4">
            <h3 class="text-danger"> Les associations que j'administre</h3>
                <div class="card-body card  ">
                    <table class="table">
                        <thead >
                            <tr class="text-danger">
                                <th>Nom</th>
                                <th>Description</th> 
                                <th>.</th>
                            </tr>
                        </thead>
                        <tbody> 
                            {% for com in adassos %}
                                <tr>
                                    <td>
                                        <a href="{% url 'show_association' com.id %}" class="text-center">  {{com.nom}}  </a>
                                   
                                        {% if not  com.publique %} <span class="badge bg-danger"> privée</span> {% endif %} 
                                    </td>
                                    <td>{{com.description}}
                                    <br/>
                                    {{com.adhesion}}  - {{com.type}} </td>
                                    <td>
                                    <a href="{% url 'show_asso_salle' com.id %}" class="badge bg-info"> Salle d'attente </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %} 
</div>
{% endblock %}