{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} {{parent}} Nouveau Membre - {{ famille.nom }} {% endblock %}
{% block css %}  
    <style>
      
    </style>
{% endblock %}
{% block content %}
     

<div class="container ">
    <h3 class="">
    <b>{{famille.nom}}</b> 
    {% comment %} <span class="pull-right">
    <button class="btn btn-xs btn-success text-white"> Inscrire un membre gg</button>
    </span> {% endcomment %}
    </h3>
   {% if famille %}
    <div class="row">
        <div class="col-md-12">
            <div class="card p-5 printableArea"> 
                <h3> &nbsp;<b class="text-danger text-capitalize"> {{famille.description}} </b></h3>
                <p class="text-muted ms-1">{{famille.chef.nomcomplet}}
                <br> {{famille.description}}  
               
            </div>
        </div>
    </div>
    {% endif %}
   
    <div class="row">
        <div class="col-md-12 p-5">
            <h1 class="text-success"> Inscription d'un nouveau membre </h1> 

            <div class="table-responsive mt-5" >
                <form method="post">
                    {% csrf_token %}
                    {% crispy form %}
                    <input type="submit" class="btn btn-success" value="Ajouter ce membre" />
                </form>
            </div>
        </div> 
    </div>

</div>



{% endblock content %}
