{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} {{parent}} Nouveau Membre - {{ famille.nom }} {% endblock %}
{% block css %}  
    <style>
      
    </style>
{% endblock %}
{% block content %}
    {% comment %} <div class="row bg">
        <div class="col-md-3">
            <div class="card mt-0">
                <div class="row">
                    <div class="col-md-6">
                        <div class="peity_line_neutral left text-center mt-2">
                            <h6>{{famille.membres_set|length}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div> {% endcomment %}
    <div class="row">
        <div class="col-md-12">
            <div class="card card-body printableArea">
                <h3><b>{{famille.nom}}</b> <span class="pull-right"><button class="btn btn-xs btn-success text-white"> Inscrire un membre</button></span></h3>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-left">
                            <address>
                                <h3> &nbsp;<b class="text-danger text-capitalize">{{famille.description}} </b></h3>
                                <p class="text-muted ms-1">{{famille.chef.nomcomplet}}
                                    <br> {{famille.description}} 
                            </address>
                        </div> 
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive mt-5" style="clear: both;">
                            <form method="post">
                                {% csrf_token %}
                                {% crispy form %}
                                <input type="submit" class="btn btn-success" value="Ajouter ce membre" />
                            </form>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
