{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} {{parent}} Nouveau livre {% endblock %}
{% block css %}  
    <style>
      .delete-image{
        color:red;
        background-color: pink;
        border-color: red;
        border-radius: 50px;
        padding: 7px;
      }
      .image-form{
        margin: 5px 0 5px 0;
      }
      form{
        overflow:hidden;
      }

      .fichierClass, .stockClass{
        display:none;
      }
    </style>
{% endblock %}
{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="card card-body printableArea">
                    <h3><b>{{librairie}}</b>  - <span class="pull-right"> Ajout d'un livre </span>
                    <a href="{% url 'addbook' %}" class="btn btn-sm btn-danger w-25"> Ajouter un nouveau livre</a>
                    </h3>

                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-left">
                                <address>
                                    {% comment %} <h3> &nbsp;<b class="text-danger text-capitalize">{{livre.description}} </b></h3>
                                    <p class="text-muted ms-1">{{livre.auteur}}
                                        <br> {{livre.domaine}}  {% endcomment %}
                                </address>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="table-responsive mt-5" style="clear: both;">
                                <form id="monForm" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% crispy form %}

                                    <h3>Images du livre</h3>
                                        {{ image_formset.management_form }}
                                        {% for form in image_formset %}
                                            <div class="image-form">
                                                {{ form.fichier }}
                                                <a  class="delete-image">X</a>
                                            </div>
                                        {% endfor %}
                            
                                    <!--button type="button" id="add-image-button" >Ajouter une image</button -->
                                    <br/><br/>
                                    <input type="submit" class="btn btn-success" value="Ajouter ce livre" />
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <hr>
                            <div class="text-end">
                                <button class="btn btn-danger text-white" type="button">... </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
{% endblock content %}

{% block js %}
    <script>
        $('.typeClass').on("change",function() {
            let val= $("select#id_type option:selected").val()
             
            if(val == "Numerique"){
                $(".fichierClass").css("display","block")
                $(".stockClass").css("display","none")
            }else{
                $(".stockClass").css("display","block")
                $(".fichierClass").css("display","none")
            }
        });
    </script> 
    
{% endblock %}
