{% extends "base.html" %}
{% load static %}
{% block title %} {{librairie.nom}} {% endblock %}
{% block content %}

   

    <div class="container mt-4">
        <div class="breadcrumb">
            <a href="{% url 'home' %}"> <i class="fa fa-home"></i> Accueil </a> >
            <a href="{% url 'listlibs' %}"> <i class="fa fa-book"></i> Librairies </a>
        </div>
        <header class="bg-info text-white text-center p-4">
            <h1>  {{librairie.nom}} :  ( {{ librairie.nombre_livres }} ) livres </h1>
        </header>

        <div class="row">
            <div class="col-md-3">
                <h4>Filtres</h4>
                <input type="text" class="form-control" placeholder="Rechercher un livre">
                <button class="btn btn-primary mt-2">Rechercher</button>
                {% comment %} <h5>Genres</h5>
                <ul class="list-group">
                    <li class="list-group-item">Fiction</li>
                    <li class="list-group-item">Non-Fiction</li>
                    <li class="list-group-item">Science</li>
                </ul> {% endcomment %}
            </div>

            <div class="col-md-9">
                <div class="row">
                        {% for livre in librairie.livres.all %}
                            <div class="col-md-4 col-lg-3">
                                <div class="card mb-4">
                                    <img src="{% static 'images/richbook.png' %}" class="card-img-top" alt="Livre 1">
                                    <div class="card-body">
                                        <h5 class="card-title">{{livre.nom}}</h5>
                                        <p class="card-text">{{livre.auteur}} - {{ livre.domaine}} </p>
                                        <p class="card-text">{{livre.description}}</p>
                                        <a href="{% url 'show_book' livre.id %}" class="btn btn-outline-primary">Détails</a>
                                    </div>
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:4 %}
                                </div><div class="row">
                            {% endif %}
                        {% endfor %}
                    <!-- Répéter pour d'autres livres -->
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-light text-center p-4">
        <p>Proprietaire : <strong>{{librairie.possesseur.nomcomplet}} </strong> </p> 
        <a class="btn btn-sm btn-outline-success text-success"  data-bs-toggle="modal"  data-bs-target="#messageModal">  
            <span> Laisser une message </span>
        </a>
        {% if  'VOIR_MESSAGES_LIBRAIRIES' in request.session.userrights %}  - 
            <a href="{% url 'library_messages' librairie.id %}" title="" class="btn btn-sm btn-success" >
                <span> Voir les messages  </span>
            </a>
        {% endif %}
    </footer>



    <div class="modal fade" id="messageModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

            <div class="modal-header bg-success text-white">
                <h5 class="modal-title">Envoi du message au propriétaire de <span class=""> {{librairie.nom}} </span> </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

             <div class="form-section">
                <h3>Poster un Message</h3> 

                {% comment %} <div class="error-message" id="errorMessage"></div> {% endcomment %}

                <form method="post"  >
                    <div class="modal-body">
                          {% csrf_token %}
                        <div class="form-group">
                            <label for="username" class="form_label" >Votre Nom *</label>
                            <input type="text" id="username" name="username"  class="form-control" required placeholder="Entrez votre nom">
                        </div>

                        <div class="form-group">
                            <input type="hidden" id="idlib" value="{{librairie.id}}" />
                            <label for="message" class="form_label">Votre Message *</label>
                            <textarea id="message" name="message" class="form-control"  required placeholder="Écrivez votre message ici..."></textarea>
                            <div class="char-count">
                                <span id="charCount">0</span>/5000
                            </div>
                        </div>
                        <div class="h-captcha" data-sitekey="{{ HCAPTCHA }}" data-callback="enableCommandeButton"></div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" id="addMessageLibID"  class="submit-btn btn btn-success" value="Envoyer le Message"/>
                    </div>
                </form>
            </div> 

            </div>
        </div>
    </div>
{% endblock %}