{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Abonnements Archives {% endblock %}
{% block css %}  
    <style>
      .text-price{
        color:green;
        background-color: #0410031f;
        border-color: red;
        border-radius: 50px;
        padding: 7px;
        text-align:center;
        font-weight: bold;
        text-transform: uppercase;
      } 
      .messageDiv{
        border: solid 1px red;
      }
      .abClass{
        display:flex !important;
        text-align:center;
      }
    </style>
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <h3 class="bg-success text-center text-white">  Abonement d'un Utilisateur  </h3>
        <p id="payMessage">  Gestion communautaire et familliale   </p>   
        <a href="{% url 'home_abonnement' %}" class="btn btn-outline-success"> Recharger mon compte </a>    
    </div>
    <div class="col-lg-3"></div>
</div>

<div class="container">
    <h1>Choisissez votre abonnement</h1>
    <div class="row">
     {% for plan in plans %}
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title"> {{plan.nom}}</h5>
              <p class="card-text">{{plan.avantages|safe}}</p>
              <p class="text-price">{{plan.prix }} XAF</p>
              <select name="an{{plan.code}}" class="m-3">
                <option value="1"> 1 An</option>
                <option value="2"> 2 Ans</option>
                <option value="3"> 3 Ans</option>
              </select>
            {% comment %} <ul class="mx-3">
              <li>Fonctionnalité 1</li>
              <li>Fonctionnalité 2</li>
            </ul> {% endcomment %}
            <a data-code="{{plan.code}}" class="btn btn-success abClass">S'abonner</a>
          </div>
        </div>
      </div>
      {% endfor %} 
    </div>
</div>

{% endblock %}