{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %} {{parent}} Liste des Familles {{ communaute.nom }} {% endblock %}
{% block css %} 

    <link href="{% static 'css/dataTables.bootstrap4.css' %} " rel="stylesheet">
    <style>
        th{
            text-transform: uppercase;
            
        }
    </style>
{% endblock %}
{% block content %}
   
    <div class="row">
        <div class="col-12">
            
            <div class="card-body">
                <h5 class="card-title my-3">
                    <a href="{% url 'show_communaute' communaute.id %}" class="text-center"> {{ communaute.nom }} </a> 
                    &nbsp; 
                    {% if  'ADD_FAMILLE' in request.session.userrights %}
                        <a href="{% url 'add_famille' %}" class="btn btn-xs btn-success text-white"> Nouvelle famille</a>
                    {% endif %}
                </h5>

                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input class="col-10" type="text" value="" name="rechLivre" />
                            <button  class="  btn-success "> Rechercher </button>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <a href="{% url 'listfamilles' id=communaute.id  mode=0 %}" class="text-info"> Afficher en liste</a>
                    </div>
                </div>

                <div class="row">
                    {% for liv in familles %}
                        <div class="col-md-6 col-lg-2 col-xlg-3">
                            <div class="card card-hover">
                                <div class="box bg-success text-center">
                                    <h1 class="font-light text-white"><i class="mdi mdi-view-dashboard"></i>
                                    </h1>
                                    <h6 class="text-white">{{ liv.nom}} </h6>
                                </div>

                                <div class="card-body">
                                {% comment %} {% if  'VOIR_FAMILLE' in request.session.userrights or liv.publique %} {% endcomment %}
                                {% comment %} valeur: {{  liv.appartient 'request.session.userid' }} {% endcomment %}
                               
                    

                                {% if  liv|appartient_a_famille:request.session.userid %}
                                    {% comment %} <p>L'utilisateur {{ request.session.userid }} appartient à cette famille .</p>
                                     {{ liv.membres_famille.all }} {% endcomment %}
                                    
                                        <h5 > 
                                        <a href="{% url 'show_famille' liv.id %}" class="text-center"> Voir en détail </a>
                                        </h5>
                                     
                                {% else %} 
                                    
                                    {% if liv.publique %}
                                        <h5 > 
                                        <a href="{% url 'show_famille' liv.id %}" class="text-center"> Voir en détail </a>
                                        </h5>
                                    {% else %}
                                            <a href="#" data-fam="{{liv.id}}" data-user="{{request.session.userid}}" class="badge bg-danger partFamID"> Je veux appartenir à {{ liv.nom }}</a>
                                        
                                    {% endif %}
                                {% endif %}

                                    <p> {{liv.description}} </p>
                                </div>
                                <div class="card-footer">
                                    <div class="text-info">
                                        Chef: <span class="badge bg-info"> {{ liv.chef.nomcomplet}}</span>
                                    </div>
                                </div>

                                
                            </div> 
                        </div>
                    {% endfor %} 
                            
                </div>
            </div>
            
        </div>
    </div>

    

    
        
    

{% endblock %}

{% block js %}
    {% comment %} <script src="{% static 'js/datatables.min.js' %}"></script>
    <script> 
        $('#zero_config').DataTable();
    </script> {% endcomment %}
{% endblock %}