{% extends "base.html" %}
{% load static %}
{% block title %} {{parent}} Liste des administrateurs {{ communaute.nom }} {% endblock %}
{% block css %} 

    <link href="{% static 'css/dataTables.bootstrap4.css' %} " rel="stylesheet">
    <style>
        th{
            text-transform: uppercase;
            
        }
    </style>
{% endblock %}
{% block content %}
   
    <div class="row">
        <div class="col-12">
            
            <div class="card-body">
                <h5 class="card-title my-5">
                Liste des administrateurs de 
                    <a href="{% url 'show_communaute' communaute.id %}" class="text-center"> {{ communaute.nom }} </a>
                    &nbsp;
                    
                </h5>
                <div class="row">
                    {% for liv in admins %}
                        <div class="col-md-6 col-lg-2 col-xlg-3">
                            <div class="card card-hover">
                                <div class="box bg-success text-center">
                                    <h1 class="font-light text-white"><i class="mdi mdi-view-dashboard"></i>
                                    </h1>
                                    <h6 class="text-white">{{ liv.nomcomplet}} </h6>
                                </div>

                                <div class="card-body">
                                    <h5 class="card-title"><a href="#"> {{liv.nomcomplet}} </a></h5>
                                    <p> {{liv.email}} </p>
                                </div>
                                <div class="card-footer">
                                    <div class="text-info">
                                        {{ liv.pere}}
                                    </div>
                                </div>    
                            </div> 
                        </div>
                    {% endfor %} 
                            
                </div>
            </div>
            
        </div>
    </div>

    
    <div class="card-body">

        <h5 class="card-title">Liste des Administrateurs - {{communaute.nom}} </h5>
        <div class="table-responsive">
            <table id="zero_config" class="table table-striped table-bordered">
                <thead class="bg-success">
                    <tr>
                        <th>Nom</th>
                        <th>Informations</th>
                        <th>Pere / mere</th>
                        <th>Genre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for liv in admins %}
                        <tr>
                            <td class="text-capitalize">
                                <a href="{% url 'show_membre' liv.id %}"> {{liv.nomcomplet}} </a>
                            </td>
                            <td class="text-capitalize">{{ liv.email}} </td>
                            <td class="text-capitalize">{{liv.pere}} - {{liv.mere}} </td>
                            <td class="text-capitalize">{{liv.sexe}}</td>
                        </tr>
                    {% endfor %}
                        
                </tbody>
                    
            </table>
        </div>

    </div>


{% endblock %}

{% block js %}
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <script> 
        $('#zero_config').DataTable();
    </script>
{% endblock %}