{% extends "base.html" %}
{% load static %}
{% block title %} {{parent}} Liste des Evenements {{ communaute.nom }} {% endblock %}
{% block css %} 

    <link href="{% static 'css/dataTables.bootstrap4.css' %} " rel="stylesheet">
    <style>
        th{
            text-transform: uppercase;            
        }
    </style>
{% endblock %}
{% block content %}

<div class="container">
    <div class="my-2">
            
        <div class="card-body">
            <div class="breadcrumb">
            <a href="{% url 'home' %}"><i class="fa fa-home"></i> Accueil</a> >
            <a href="{% url 'listcom' %}" class=" "> Communautés </a> >  
            <a href="{% url 'show_communaute' communaute.id %}" class="text-center"> {{ communaute.nom }} </a> >
                Evenements
            </div>
        </div>
    </div>
    
    <h5 class="card-title my-3">
        
        <a href="{% url 'show_communaute' communaute.id %}" class="text-center"> {{ communaute.nom }} </a>
        &nbsp;
        {% if  'ADD_EVENEMENT' in request.session.userrights %}
        <a href="{% url 'add_evenement' %}" class="btn btn-xs btn-success text-white"> Nouvel evenement</a>
        {% endif %}
    </h5>
    
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            {% comment %} <div class="form-group"> {% endcomment %}
                <input class="col-10 form-control" type="text" value="" name="rechLivre" />
        </div>
        <div class="col-lg-3">
                <button  class="btn btn-rounded  btn-success "> Rechercher </button>
            {% comment %} </div> {% endcomment %}
        </div>
        <div class="col-lg-3">
            <a href="{% url 'listevenements' id=communaute.id  mode=0 %}" class="btn btn-outline-info"> Afficher en liste</a>
        </div>
    </div>
        
    <div class="row my-5">
        {% for liv in evenements %}
            <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                    <div class="box bg-success text-center">
                        <h1 class="font-light text-white"><i class="mdi mdi-view-dashboard"></i>
                        </h1>
                        
                        <i class="fa  fa-calendar"></i>
                        <a href="{% url 'show_evenement' liv.id %}" class="text-white" title=" cliquer pour le détail de {{liv.titre}}"> {{liv.titre}} </a>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'show_famille' liv.id %}"> {{liv.nom}} </a></h5>
                        <p> {{liv.description}} </p>
                        <div class="btn btn-outline-info btn-sm p-2 w-100">
                             <a href="{% url 'show_evenement' liv.id %}" class="text-sm text-info" title=" cliquer pour le détail de {{liv.titre}}"> <i class="fa fa-info-circle"></i> Détail </a>
                            {% comment %} <a href="{% url 'show_evenement' liv.id %}" class="text-sm" title=" cliquer pour le détail de {{liv.titre}}"> <i class="fa fa-info-circle"></i> Détail </a> {% endcomment %}
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="text-info">
                            {{ liv.date}} 
                            

                        </div>
                    </div>

                    
                </div> 
            </div>
        {% endfor %} 
                
    </div>
          
</div>   


    {% comment %} <div class="card-body">

        <h5 class="card-title my-2">Liste des evenements  - {{communaute.nom}} </h5>
        <div class="table-responsive">
            <table id="zero_config" class="table table-striped table-bordered">
                <thead class="bg-success">
                    <tr>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Periodicité</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for liv in evenements %}
                        <tr>
                            <td class="text-capitalize">
                                <a href="{% url 'show_evenement' liv.id %}"> {{liv.titre}} </a>
                            </td>
                            <td class="text-capitalize">{{ liv.description}} </td>
                            <td class="text-capitalize">{{liv.periodicite}} </td>
                            <td class="text-capitalize">{{liv.date}}</td>
                        </tr>
                    {% endfor %}
                        
                </tbody>
                    
            </table>
        </div>

    </div> {% endcomment %}

{% endblock %}

{% block js %}
    {% comment %} <script src="{% static 'js/datatables.min.js' %}"></script>
    <script> 
        $('#zero_config').DataTable();
    </script> {% endcomment %}
{% endblock %}