{% extends "base.html" %}
{% load static %}
{% block title %} {{parent}} Liste des associations {{ communaute.nom }} {% endblock %}
{% block css %} 

    <link href="{% static 'css/dataTables.bootstrap4.css' %} " rel="stylesheet">
    <style>
        th{
            text-transform: uppercase;
            
        }
    </style>
{% endblock %}
{% block content %}
   
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ communaute.nom }} -  associations 
                        <a href="{% url 'add_association' %}" class="btn btn-xs btn-success text-white"> Nouvel association</a>
                    </h5>
                    <div class="row">
                        {% for liv in associations %}
                            <div class="col-md-6 col-lg-2 col-xlg-3">
                                <div class="card card-hover">
                                    <div class="box bg-success text-center">
                                        <h1 class="font-light text-white"><i class="mdi mdi-view-dashboard"></i>
                                        </h1>
                                        <h6 class="text-white">{{ liv.nom}} </h6>
                                    </div>

                                    <div class="card-body">
                                        <h5 class="card-title"><a href="{% url 'show_famille' liv.id %}"> {{liv.nom}} </a></h5>
                                        <p> {{liv.description}} </p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-info">
                                           {{ liv.type}}
                                        </div>
                                    </div>

                                    
                                </div> 
                            </div>
                        {% endfor %} 
                             
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">

            <h5 class="card-title">{{communaute.nom}} </h5>
            <div class="table-responsive">
                <table id="zero_config" class="table table-striped table-bordered">
                    <thead class="bg-success">
                        <tr>
                            <th>Nom</th>
                            <th>Description</th>
                            <th>Adhesion / localisation</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for liv in associations %}
                            <tr>
                                <td class="text-capitalize">
                                    <a href="{% url 'show_association' liv.id %}"> {{liv.nom}} </a>
                                </td>
                                <td class="text-capitalize">{{ liv.description}} </td>
                                <td class="text-capitalize">{{liv.adhesion}} - {{liv.localisation}} </td>
                                <td class="text-capitalize">{{liv.type}}</td>
                            </tr>
                        {% endfor %}
                         
                    </tbody>
                     
                </table>
            </div>

        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <script> 
        $('#zero_config').DataTable();
    </script>
{% endblock %}