{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Nouvel Evenement {% endblock %}

{% block content %}
   
    <div class="card-body">
        <h3> Nouvel Evenement</h3>
        <div class="row">
            
            <div class="col-lg-12">
                <h5 class="bg-info text-center">.{{id}}</h5>
                
                <form method="post">

                    {% crispy form %} 
                    {% comment %} <div class="form-group row">
                        <label class="col-3">Titre de l'evenement</label>
                        <div class="form-control col-9">{{form.nom}}</div>
                    </div>
                    <div class="form-group">
                        <label>Description de l'evenement</label>
                        <div class="form-control">{{form.description}}</div>
                    </div>
                    <div class="form-group">
                        <label>Date de l'evenement</label>
                        <div class="form-control">{{form.origine}}</div>
                    </div>
                    <div class="form-group">
                        <label>Communauté à laquelle il appartient</label>
                        <div class="form-control">{{form.communaute}}</div>
                    </div>
                    <div class="form-group">
                        <label>Periodicité de la Evenement</label>
                        <div class="form-control">{{form.periodicite}}</div>
                    </div> {% endcomment %}

                    <input type="submit" class="btn btn-success" value="Ajouter cet Evenement" />
                </form>
            </div> 
        </div>
    </div>
        <br/>
 {% endblock %}