{% extends "base.html" %}
{% load static %}
{% block title %} {{communaute.nom}} {% endblock %}
{% block content %}

<div class="card-body">
    <div class="row">
         
        <!-- Column -->
        <div class="col-md-6 col-lg-4 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-danger text-center">
                    <h1 class="font-light text-white"><i class="mdi mdi-receipt"></i></h1>
                    <h6 class="text-white">{{communaute.nom}}</h6>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-info text-center">
                    <h1 class="font-light text-white"><i class="mdi mdi-relative-scale"></i></h1>
                    <h6 class="text-white">{{communaute.type}}</h6>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-cyan text-center">
                    <h1 class="font-light text-white"><i class="mdi mdi-pencil"></i></h1>
                    <h6 class="text-white">{{communaute.superficie}} Km<sup>2</sup></h6>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-success text-center">
                    <h1 class="font-light text-white"><i class="mdi mdi-calendar-check"></i></h1>
                    <h6 class="text-white">{{communaute.origine}}</h6>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-warning text-center">
                    <h1 class="font-light text-white"><i class="mdi mdi-alert"></i></h1>
                    <h6 class="text-white">{{communaute.region}}</h6>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
    <div class="row my-5">
        <div class="col-lg-4">
            {% if communaute.listerois %}
                <h5 class="text-success text-bold">Liste des rois</h5>
                <ul class="list">
                    <li class="list-item">{{communaute.listerois}} </li>
                </ul>
            {% endif %}
        </div>
        <div class="col-lg-8">
             {% if communaute.histoire %}
                <h5 class="text-success text-bold">Histoire</h5>
                <div class=" ">
                    {{ communaute.histoire }}
                </div>
            {% endif %}
        </div>
     </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex align-items-center">
                        <div>
                            <h4 class="card-title">{{communaute.nom}}</h4>
                            <h5 class="card-subtitle">{{communaute.description}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9">
                            <span> Carte geographique </span>
                            <div class="flot-chart">
                                <div class=" ">
                                    <img src="{% static 'images/big/img2.jpg' %} " alt="user" style="max-width: 100; max-height: 400px;">
                                </div>
                                <!--
                                <div class="flot-chart-content" id="flot-line-chart" style="padding: 0px; position: relative;">
                                    <canvas class="flot-base" width="827" height="300" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 827.5px; height: 300px;"></canvas>
                                    <div class="flot-text" style="position: absolute; inset: 0px; font-size: smaller; color: rgb(84, 84, 84);">
                                        <div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; inset: 0px;">
                                            <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 63px; top: 283px; left: 23px; text-align: center;">0</div>
                                            <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 63px; top: 283px; left: 89px; text-align: center;">1</div>
                                            <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 63px; top: 283px; left: 155px; text-align: center;">2</div>
                                            <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 63px; top: 283px; left: 221px; text-align: center;">3</div>
                                            <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 63px; top: 283px; left: 287px; text-align: center;">4</div>
                                            <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 63px; top: 283px; left: 353px; text-align: center;">5</div>
                                            <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 63px; top: 283px; left: 420px; text-align: center;">6</div>
                                            <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 63px; top: 283px; left: 486px; text-align: center;">7</div>
                                            <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 63px; top: 283px; left: 552px; text-align: center;">8</div>
                                            <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 63px; top: 283px; left: 618px; text-align: center;">9</div>
                                            <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 63px; top: 283px; left: 681px; text-align: center;">10</div>
                                            <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 63px; top: 283px; left: 747px; text-align: center;">11</div>
                                        </div>
                                        <div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; inset: 0px;">
                                            <div class="flot-tick-label tickLabel" style="position: absolute; top: 246px; left: 0px; text-align: right;">-1.0</div>
                                            <div class="flot-tick-label tickLabel" style="position: absolute; top: 190px; left: 0px; text-align: right;">-0.5</div>
                                            <div class="flot-tick-label tickLabel" style="position: absolute; top: 134px; left: 4px; text-align: right;">0.0</div>
                                            <div class="flot-tick-label tickLabel" style="position: absolute; top: 78px; left: 4px; text-align: right;">0.5</div>
                                            <div class="flot-tick-label tickLabel" style="position: absolute; top: 23px; left: 4px; text-align: right;">1.0</div>
                                        </div>
                                    </div>
                                    <canvas class="flot-overlay" width="827" height="300" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 827.5px; height: 300px;"></canvas>
                                    <div class="legend"><div style="position: absolute; width: 49.75px; height: 39px; top: 14px; right: 13px; background-color: rgb(255, 255, 255); opacity: 0.85;"> </div>
                                        <table style="position:absolute;top:14px;right:13px;;font-size:smaller;color:#AFAFAF">
                                            <tbody>
                                                <tr>
                                                    <td class="legendColorBox">
                                                        <div style="border:1px solid #ccc;padding:1px">
                                                            <div style="width:4px;height:0;border:5px solid rgb(238,121,81);overflow:hidden"></div>
                                                        </div>
                                                    </td>
                                                    <td class="legendLabel">sin(x)</td>
                                                </tr>
                                                <tr>
                                                    <td class="legendColorBox">
                                                    <div style="border:1px solid #ccc;padding:1px">
                                                        <div style="width:4px;height:0;border:5px solid rgb(79,185,240);overflow:hidden"></div>
                                                    </div>
                                                    </td>
                                                    <td class="legendLabel">cos(x)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            -->
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row">
                                <div class="col-6">
                                    <div class="bg-dark p-10 text-white text-center">
                                        <i class="fa fa-user mb-1 font-16"></i>
                                        <h5 class="mb-0 mt-1">{{communaute.get_familles|length }} Familles</h5>
                                        <small class="font-light"><a href="{% url 'listfamilles' communaute.id %}"> Consulter </a></small>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="bg-dark p-10 text-white text-center">
                                        <i class="fa fa-plus mb-1 font-16"></i>
                                        <h5 class="mb-0 mt-1">{{communaute.get_associations|length }} Associations</h5>
                                        <small class="font-light">
                                            <a href="{% url 'listassociations' communaute.id %}"> Consulter </a>
                                        </small>
                                    </div>
                                </div> 
                                <div class="col-6 mt-3">
                                    <div class="bg-dark p-10 text-white text-center">
                                        <i class="fa fa-tag mb-1 font-16"></i>
                                        <h5 class="mb-0 mt-1">{{communaute.get_evenements|length }} Evenements</h5>
                                        <small class="font-light"><a href="{% url 'listevenements' communaute.id %}"> Consulter</a> </small>
                                    </div>
                                </div>
                                <div class="col-6 mt-3">
                                    <div class="bg-dark p-10 text-white text-center">
                                        <i class="fa fa-table mb-1 font-16"></i>
                                        <h5 class="mb-0 mt-1">Origine</h5>
                                        <small class="font-light"> {{ communaute.origine }} </small>
                                    </div>
                                </div>
                                <div class="col-6 mt-3">
                                    <div class="bg-dark p-10 text-white text-center">
                                        <i class="fa fa-globe mb-1 font-16"></i>
                                        <h5 class="mb-0 mt-1">Mediathèque</h5>
                                        <small class="font-light">.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>

{% endblock %}