{% extends "base.html" %}
{% load static %}
{% block title %} {{parent}} Detail - {{ famille.nom }} {% endblock %}
{% block css %}  
    <style>
      
    </style>
{% endblock %}
{% block content %}
    <div class="row bg my-5">
        <div class="col-md-2">
            <div class=" mt-0">
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-info text-center mt-2"> 
                            <h3 class="mb-0 fw-bold">{{famille.get_members|length}}</h3>
                            <span class="text-muted">Membres</span>
                        </div>
                    </div>
                    <div class="col-md-6 border-left text-center pt-2">
                        <h3 class="mb-0 fw-bold">150</h3>
                        <span class="text-muted">Fils</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class=" mt-0">
                <div class="row"> 
                    <div class="col-md-6 border-left text-center pt-2">
                        <h3 class="mb-0 fw-bold">4560</h3>
                        <span class="text-muted">Petits fils</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class=" mt-0">
                <div class="row"> 
                    <div class="col-md-6 border-left text-center pt-2">
                        <h3 class="mb-0 ">5672</h3>
                        <span class="text-muted">Arriere petit fils</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class=" mt-0">
                <div class="row"> 
                    <div class="col-md-6 border-left text-center pt-2">
                    
                    <a href="{% url 'listassociationsfam' famille.id %}">
                        <h3 class="mb-0 ">{{famille.associations.all|length}}</h3>
                        <span class="text-muted">Associations</span>
                    </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class=" mt-0">
                <div class="row"> 
                    <div class="col-md-6 border-left text-center pt-2">
                        <h5 class="mb-0 fw-bold">
                            {% if famille.famille_mere %}
                                <a href="{% url 'show_famille' famille.famille_mere.id %}">{{famille.famille_mere}}</a>
                            {% else %}
                                <span class="text-info">FAMILLE MERE</span>
                            {% endif %}
                        </h5>
                        <a href="{% url 'show_communaute' famille.communaute.id %}" class="text-center"> {{famille.communaute.nom}}</a>
                        <h6> <span class="text-muted">{{ famille.administrateurs.all|length }} Administrateurs</span></h6>
                        <div >
                            {% if  'ADD_FAMILLE_ADMIN' in request.session.userrights %}
                                <a href="{% url 'show_admin_fam' famille.id %}" class="text-success py-3" >Voir les Administrateurs </a> 
                                 
                            {% endif %}
                        </div>
                        <small class="font-light"> 
                            {% if  'ADD_FAMILLE_ADMIN' in request.session.userrights %}
                            <div class=" text-end pull-right">
                                <button class="btn btn-danger text-white" data-bs-toggle="modal" data-bs-target="#adminModal"type="button"> Ajouter un Administrateur </button>
                            </div>
                            
                        {% endif %}
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class=" card-body printableArea">
                <h3><b>{{famille.nom}}</b> <span class="pull-right"><a class="btn btn-xs btn-success text-white" href="{% url 'add_user' %}"> Ajouter un membre</a></span></h3>
                <hr>
                <div class="row">
                    <div class="col-md-10">
                        <div class="pull-left">
                            <address>
                                <h3> &nbsp;<b class="text-danger text-capitalize">{{famille.description}} </b></h3>
                                <p class="text-muted ms-1">{{famille.chef.nomcomplet}}
                                    <br> {{famille.description}}
                                    <br> 
                                    {% comment %} <br> Bhavnagar - 364002</p> {% endcomment %}
                            </address>
                        </div>
                    </div>

                    <div class="col-md-2"> 
                        <h5> {{famille.get_sous_familles|length}} Sous Familles</h5>
                        {% for fam in famille.get_sous_familles %}
                            <a href="{% url 'show_famille' fam.id %}" class="text-success" title="{{fam.description}}"> {{ fam.nom}}</a>
                        {% endfor %}
                    </div> 
                    <div class="col-md-12">
                        <div class="table-responsive mt-5" style="clear: both;">
                            <table id="zero_config"  class="table table-hover">
                                <thead class="bg-success text-white">
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th>Nom Complet</th>
                                        <th class="text-end">.</th>
                                        <th class="text-end">.</th>
                                        <th class="text-end">Détail</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for  membre in famille.get_members %}
                                    <tr>
                                        <td class="text-center"> {{forloop.counter}} </td>
                                        <td>{{membre.nomcomplet}} </td>
                                        <td class="text-end"> . </td>
                                        <td class="text-end"> . </td>
                                        <td class="text-end"> 
                                           {% if appartient %}
                                            <a href="{% url 'show_user' membre.id %}"> Fiche individuelle </a>
                                           {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

     {% if  'ADD_FAMILLE_ADMIN' in request.session.userrights %} 

        <div class="modal fade" id="adminModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white ">
                <h5 class="modal-title " id="exampleModalLabel"> Ajout d'un administrateur à  {{ famille.nom}} </h5>
                <button type="button" class="btn-close clos" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
    
                <form  method="post" >
                    <div class="modal-body"> 
                        {% csrf_token %}
                        <h3 class=""> Choisir l'administrateur</h3><br/>
                        <select name="adminFam" class="form-control">
                            <option value="">--------</option>
                            {% for membre in famille.membres_famille.all %}
                                <option value="{{membre.id}}">{{membre.nomcomplet}}</option>
                            {% endfor %}
                        </select> 
                        {% comment %} <div class="h-captcha" data-sitekey="{{ HCAPTCHA }}" data-callback="enableCommandeButton"></div> {% endcomment %}
                    </div>

                    <div class="modal-footer">

                    {% comment %} disabled  {% endcomment %}
                    <input type="button" data-fam="{{famille.id}}" class="btn btn-primary" id="addAdminFamID" 
                    value="Enregistrer" />
                    </div>
    
                </form>
            </div>
            </div>
        </div> 

     
    {% endif %}

{% endblock content %}
{% block js %}
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <script> 
        $('#zero_config').DataTable();
    </script>
{% endblock %}
