{% extends "base.html" %}
{% block title %}Accueil {% endblock %}
{% block content %}
   

    <div class="row">
        
        <div class="col-lg-7">
            <h5 class="bg-info text-center">.{{id}}</h5>
            <table class="table" width="100%" height="200">
                <tr>
                    <td>
                        <div class="time_widget m-5" >
                            <h3 id="base-timer"> 00:00:00 </h3>
                        </div>
                        <div class="buttons_widget">
                            <button class="btn btn-xs btn-success" id="startID"> Demarrer</button>
                            <button class="btn btn-xs btn-info" id="pauseID"> Pause</button>
                            <button class="btn btn-xs btn-danger" id="stopID"> Arreter</button>
                        </div>
                    </td> 
                </tr>
            </table>
        </div>
         
        <div class="col-lg-3" >
            <h5 class="bg-info text-center">Liste de mes Communautés</h5>
            <ul>
                {% for com in communautes %}
                    <li class="text-capitalize"> <a href="{% url 'show_com' com.id %}"> {{ com.nom}} </a> </li>
                {% endfor %} 
            </ul>
        </div>
    </div>
      
        <br/>
 {% endblock %}